<h1>Our product overview:</h1>
<p class="lead">

The choice of January:<br><br>
<img src="http://handbags.sell4value.com/bags.png" width="200p" height="auto"><br><br>
The choice of February:<br><br>
<img src="http://donnabelladesigns.com/images/11/products/Farrah-Group-shot.png" width="200p" height="auto"><br><br>

</p>
