<h1>Our product overview:</h1>
<p class="lead">

<br>
<br>
The choice of January:
<img src="http://handbags.sell4value.com/bags.png" width="200p" height="auto">
The choice of February:
<img src="http://donnabelladesigns.com/images/11/products/Farrah-Group-shot.png" width="200p" height="auto">

</p>
